# All the files in the ignored directory, that's what it's for.
/ignored
/ignired/*

#Various emacsy things
*~
\#*
~*
.\#*
.~*

#We don't need  many (any) of the results
results/*h*m*

#and few of the server files
test/*ist*:
